body {
  background-color: white;
}

h1 {
  color: red;
  text-align: center;
}

div {
  font-family: verdana;
  font-size: 20px;
}

h2 {
    text-align: center;
}

div[id="right"] {
    text-align: right;
}

div[id="left"] {
    text-align: left;
}

div[id="center"] {
    text-align: center;
}